/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-se2-block-speaker{
  position:relative;
  min-height:200px;
  &:hover {
    .speaker-backend-settings {
      opacity: 1;
      top:20px;
    }
  }
  .speaker-backend-settings {
    opacity: 0;
    width:80%;
    background-color:white;
    border: 1px solid #939393;
    border-left:4px solid #00f692;
    padding:2%;
    position: absolute;
    margin: auto;
    top:-20px; right:0; left:0;

    .speaker-selection{
      &:hover {
        
        opacity: 1 ;
      }
    }
    
  }
}

.speaker-backend-msg {
  width:100%;
  min-height:200px;
  background-color:rgba(193, 193, 193, .2);
  border-radius:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:10%;
  .speaker-image-placeholder {
    background-color:rgb(130, 130, 130);
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}